@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BrickWells.Components
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <vc:cart-summary />
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item"> 
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <span>LogOut</span>
                </a>    
        </li>
    


        @* <li class="nav-item"> *@
        @*     <div> *@
        @*         <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> *@
        @*             <button type="submit" class="nav-link text-dark btn btn-link">Logout</button> *@
        @*         </form> *@
        @*     </div> *@
        @* *@
        @* </li> *@
    }
    else
    {
        <ul class="nav">
            <li class="nav-item">
                <div class="container">
                    <vc:cart-summary />
                </div>
            </li>
            <li class="nav-item">
                <div class="container">
                    <a class="transparent-button nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                        <img src="/img/Lego_imgs/lego_head_trans.png" style="max-height: 35px" alt="Lego Head">
                        <span>Sign In</span>
                    </a>
                </div>
            </li>
            @* <li class="nav-item"> *@
            @*     <div class="container"> *@
            @*         <a class="transparent-button nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"> *@
            @*             <img src="/img/Lego_imgs/lego_head_trans.png" style="max-height: 35px" alt="Lego Head"> *@
            @*             <span>Sign Up</span> *@
            @*         </a> *@
            @*     </div> *@
            @* </li> *@
        </ul>


    }
</ul>