@model Customer

<form method="post">
    <input type="hidden" asp-for="CustomerId"/>
    
 
    <label asp-for="FirstName"></label><br/>
    <input asp-for="FirstName"/>
    <br/><br/>
   
    <label asp-for="LastName"></label><br/>
    <input asp-for="LastName"/>
    <br/><br/>
  
    <label asp-for="BirthDate"></label><br/>
    <input asp-for="BirthDate"/>
    <br/><br/>
    
    <label asp-for="CountryOfResidence"></label><br/>
    <input asp-for="CountryOfResidence"/>
    <br/><br/>
  
    <label asp-for="Gender"></label><br/>
    <input asp-for="Gender"/>
    <br/><br/>
    
    <button type="submit">Submit Changes</button>
    <br />

    <div asp-validation-summary="All"></div>
</form>