@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["About"]</h1>
<div class="container">
    <div class="row .no-gutters">
            <div class="col">
                <div>
                    <img style="margin-top: 40px;" src="/img/Lego_imgs/Aurora_Picture.png" alt="woman head on red background"/>
                </div>
            </div>
            <div class="col">
                <h1>Welcome</h1>
                <p>Hello and welcome to my world of endless creativity and vibrant LEGO builds! I'm Aurora, and from the earliest memories I can muster, LEGO bricks have been a cornerstone of my life. My journey into the realm of colorful blocks and imaginative constructs began hand-in-hand with my father. Together, we embarked on countless adventures, each LEGO piece a step towards new worlds waiting to be explored.
                </p>
                <p>
                    As I grew, so did my passion for LEGO, and I decided to share this love with the wider world. Starting small, I posted my unique builds on TikTok, never imagining the wave of support and enthusiasm that would come my way. Today, I am humbled and thrilled to be at the helm of an incredible community of over 250,000 followers. Each of you has been a brick in the intricate masterpiece that my journey has become.
                </p>
                <p>
                    Through my website and shop, I aim to bring a piece of this joy into your lives. Each LEGO set and every build I share is a testament to the happiness and endless possibilities that these small bricks can bring. My hope is that you find inspiration, joy, and maybe a bit of nostalgia, as you embark on your own LEGO adventures.
                    Whether you're here to find your next build, to share a moment of joy, or simply to explore, I'm glad you're part of this journey. Let's build something extraordinary together.
        
                </p>
                <br/>
                <p>
                    Happy Building, Aurora
                </p>
                <img style="margin-top: -70px; margin-left: -30px;" src="/img/Lego_imgs/heart-removebg.png" alt="lego heart">
            </div>
    </div>

</div>

