@{
    ViewData["Title"] = "Shop Products";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BrickListViewModel


<div class="container">
    <br/>
    <br/>
        <div class="text-center">
            <h1 style="font-weight: bold">Browse Our Amazing Sets!</h1>
        </div>
    <!-- Categories -->
    <div class="row">
        <div class="col-md-4">
            <vc:category/>
        </div>
    </div>

    <!-- Products -->
    <div class="row">
        @foreach (Product p in Model.Products)
        {
            <div class="col-md-4">
                <partial name="ProductSummary" model="p"/>
            </div>
        }
    </div>
</div>


<div page-model="@Model.PaginationInfo" page-action="Products" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-dark"
     page-url-category="@Model.currentCategory" class="btn-group m-1"></div>