@{
    ViewData["Title"] = "Home Page";
    var customer = ViewBag.Customer as Customer;
    var order = ViewBag.Orders as Order;
    var transaction = ViewBag.TransactionId as LineItem;
    var recommendedProducts = ViewBag.RecommendedProducts as List<Product>;
}
@model BrickListViewModel;
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <style type="text/css">
                    .carousel {
                        width: 450px;
                        height: 200px;
                        max-height: 200px !important;
                    }

                    .carousel-content {
                        color: black;
                        display: flex;
                        text-align: center;
                    }
                </style>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.carousel').carousel({
                            interval: 500
                        });

                        $('.item')[0].className = "item active";
                    });
                </script>
            
</head>
<body>
    <form id="form1" runat="server">
        <div id="myCarousel" align="center" style=" margin:0 auto;" class="carousel slide" data-ride="carousel" data-pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <asp:Repeater ID="rptCarousel" runat="server" DataSourceID="SqlDataSource1">
                    <ItemTemplate>
                        <div class="item">
                            <asp:Image ID="Image1" Width="200px" Height="200px" runat="server" ImageUrl='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ1VuKA1bfF-J9EICmf9n4YvfTkXkhQb4Zln2kVXHZnw&s' />
                        </div>
                    </ItemTemplate>
                </asp:Repeater>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span> </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span> </a>
            </div>
            <div> 
                <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:DBCS %>"
    SelectCommand="SELECT* from tbl_Data"></asp:SqlDataSource>
        </div>
    </form>
</body>
</html>
