@model Product

<h2>Submission Received!</h2>
<h3>Thank you for adding @Model.Name to the database.</h3>
<h3>The New product will be up and running on our website soon for your customers to purchase!</h3>
<h4>Click <a asp-controller="Admin" asp-action="AddProduct">here</a> to add another Product to the list.</h4>
