@model Product


<div class="container box">
    <br/>
    <h2>CAUTION</h2>
    <h3>Are you sure you would like to delete</h3>
    <h4>Product Name: @Model.Name ?</h4>
    <br/>
    <form method="post">

        <input type="hidden" asp-for="ProductId"/> @*You always need to add the application ID to the form for the post method to work*@

        @* Buttons for delete an cancelation *@
        <button type="submit" class="btn-primary-alert">Delete</button>
        <a class="btn-primary-light-blue" asp-controller="Admin" asp-action="ProductList">Cancel</a>
    </form>
</div>
