@model Product

<h2>Confirm Deletion.</h2>
<br />
<h3>Product Name: @Model.Name</h3>

<form method="post">

    <input type="hidden" asp-for="ProductId" /> @*You always need to add the application ID to the form for the post method to work*@

    @* Buttons for delete an cancelation *@
    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a class="btn btn-secondary" asp-controller="Admin" asp-action="ProductList">Cancel</a>
</form>