@model List<Product>

<table class="table table-success table-striped">
    <thead class="fw-bold table-light text-center">
    <tr>
        <td>Product ID</td>
        <td>Name</td>
        <td>Year</td>
        <td>Number of Parts</td>
        <td>Price</td>
        <td>Link to Image</td>
        <td>Primary Color</td>
        <td>Secondary Color</td>
        <td>Description</td>
        <td>Category</td>
    </tr>
    </thead>
    @foreach (var prod in Model)
    {
        <tbody>
        
        </tbody>
    }
</table>